@{

}

<div class="seven-segment-display">
	<svg width="23" height="31" viewBox="0 0 260 480">
		<use xlink:href="#ssd-unit-h" class="ssd-segment ssd-segment-a" x="30" y="0"></use>
		<use xlink:href="#ssd-unit-v" class="ssd-segment ssd-segment-b" x="220" y="30"></use>
		<use xlink:href="#ssd-unit-v" class="ssd-segment ssd-segment-c" x="220" y="250"></use>
		<use xlink:href="#ssd-unit-h" class="ssd-segment ssd-segment-d" x="30" y="440"></use>
		<use xlink:href="#ssd-unit-v" class="ssd-segment ssd-segment-e" x="0" y="250"></use>
		<use xlink:href="#ssd-unit-v" class="ssd-segment ssd-segment-f" x="0" y="30"></use>
		<use xlink:href="#ssd-unit-h" class="ssd-segment ssd-segment-g" x="30" y="220"></use>
		<use xlink:href="#ssd-decimal-pt" class="ssd-segment ssd-segment-h" x="270" y="440"></use>
	</svg>
</div>

