@{

}

<div class="circuit-toolbar">
    <p class="add-component-popup-tab" onclick="guiCreateRootJunction()">
        <span class="add-component-popup-tab-icon" style="background-image: url('/images/icons/create_root_junction.svg')"></span>
        Create Root Junction
    </p><p class="add-component-popup-tab" onclick="guiClearCircuit()">
        <span class="add-component-popup-tab-icon" style="background-image: url('/images/icons/clear_circuit.svg')"></span>
        Clear Circuit
    </p><p class="add-component-popup-tab" onclick="guiToggleScripting()" id="scripting-toggle">
        <span class="add-component-popup-tab-icon" style="background-image: url('/images/icons/init_script.svg')"></span>
        Initiate Scripting
    </p><p class="add-component-popup-tab" onclick="guiSaveScript()">
        <span class="add-component-popup-tab-icon" style="background-image: url('/images/icons/save_script.svg')"></span>
        Save Script
    </p><p class="add-component-popup-tab" onclick="guiLoadScript()">
        <span class="add-component-popup-tab-icon" style="background-image: url('/images/icons/load_script.svg')"></span>
        Load Script
    </p><p class="add-component-popup-tab" onclick="guiPrintScript()">
        <span class="add-component-popup-tab-icon" style="background-image: url('/images/icons/view_script.svg')"></span>
        View Script
    </p><p class="add-component-popup-tab" onclick="guiClearScript()">
        <span class="add-component-popup-tab-icon" style="background-image: url('/images/icons/clear_script.svg')"></span>
        Clear Script
    </p><p class="add-component-popup-tab" onclick="guiSimulate()">
        <span class="add-component-popup-tab-icon" style="background-image: url('/images/icons/simulate.svg')"></span>
        Simulate
    </p>
</div>