@{

}

<div class="measuring-devices-container" id="measuring-devices-container">
    <p class="add-component-popup-tab" id="multimeter-tab-button" onclick="guiShowMeasuringDevice('multimeter')">
        <span class="add-component-popup-tab-icon" style="background-image: url('/images/icons/multimeter.svg')"></span>
        Multimeter
    </p>
</div>